{% extends "layout.html" %}

{% block content %}


<h2 class="titles" >{{title}}</h2>
    
<h3 class="about-title"> British Insects </h3>

<div class="about-content">

<p> The insects in the UK which we are interested in are: </p>

<p  class="about-list">1. Cicada</p>
<div class = "about-cicada"></div>
<p> 
	The only cicada species in the UK is <a href="https://en.wikipedia.org/wiki/Cicadetta_montana"> New Forest Cicada</a>. It is a species in Cicadidae Family.</br></br>
</p>


<p  class="about-list">2. Bush Cricket </p>
<div class="about-bush-cricket"></div>
<p> 
	Insects in the family <a href="https://en.wikipedia.org/wiki/Tettigoniidae">Tettigoniidae</a> are known as bush crickets (also called katydids). </br>
	The species in this family which we have collected sound samples are: </br>
				
	<li class="about-list"> Subfamily Phaneropterinae: </li>
	<p> [ Sickle Bearing Bush Cricket ] and [ Speckled Bush Cricket ] </p>
	<li class="about-list"> Subfamily Tettigoniidae:  </li>
	<p> [ Great Green Bush Cricket ] </p>
	<li class="about-list"> Subfamily Conocephalinae:  </li>
	<p> [ Short Winged Conehead ] and [ Long Winged Conehead ] </p>
	<li class="about-list"> Subfamily Decticinae: </li>
	<p> [ Dark Bush Cricket ], [ Wartbiter ], [ Grey Bush Cricket ], [ Bog Bush Cricket ] and [ Roesel Bush Cricket ] </p>
	</br>
</p>


<p class="about-list">3. Cricket </p>
<div class="about-cricket"></div>
<p>	
	Family <a href="https://en.wikipedia.org/wiki/Cricket_(insect)">Gryllidae</a>, known as Crickets. </br>
	We collected sound samples of the following species: </br>
	<li class="about-list"> Subfamily Gryllinae:</li>
	<p> [ Filed Cricket ] and [ House Cricket ]</p>
	<li class="about-list"> Subfamily Nemobiinae:</li>
	<p> [ Wood Cricket ] and [ Tree Cricket ]</p>
</br>
</p>


		



<p class="about-list">4. Grasshopper </p>
<div class="about-grasshopper"></div>
<p>
	Grasshoppers are the insects from insect family <a href="https://en.wikipedia.org/wiki/Acrididae">Acrididae</a>.</br>
	Main species in the UK are:</br>
	<li class="about-list"> Subfamily Gomphocerinae:</li>
	<p> [ Field Grasshopper ], [ Lesser Marsh Grasshopper ], [ Meadow Grasshopper ], [ Motteled Grasshopper ], [ Lesser Motteled Grasshopper ], [ Common Green Grasshopper ], [Woodland Grasshopper ], [ Heath Grasshopper ], [ Rufous Grasshopper ] </p>
	<li class="about-list"> Subfamily Oedipodinae:</li>
	<p> [ Large Marsh Grasshopper ] and [ Strip Winged Grasshopper ]</p>
</br>
<p>



<p class="about-list">5. Mole Cricket </p>
<div class="about-mole-cricket"></div>
<p>
	Mole Cricket is the only species in the family <a href="https://en.wikipedia.org/wiki/Mole_cricket">Gryllotalpidae</a>.</br>

<p class="about-citation"> </br></br>Images supplied courtesy of Orthoptera Recording Scheme, <a href="http://www.orthoptera.org.uk/">http://www.orthoptera.org.uk/</a></p>


	<address class="about-address">
	    <strong>Info and bugs:</strong>   <a href="mailto: yl25g13@soton.ac.uk">yl25g13@soton.ac.uk</a><br />
	</address>
</div>




{% endblock %}
